<% bookmark_url = @bookmark.movie.poster_url %>

<h2><%= @list.name %></h2>
<h3><% list_bookmarks = @list.bookmarks %></h3>
<div class="card-product">
  <img src=bookmark_url />
  <div class="card-product-infos">
    <% list_bookmarks.each do |bookmark| %>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
    <p><%= bookmark.movie.poster_url %></p>
    <p><%= bookmark.movie.rating %></p>
    <p><%= bookmark.comment %></p>
    <p><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }%></p>
  <% end %>
  </div>
</div>



<h3><%= link_to 'Back to lists', lists_path %> </h3>
<h3><%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %> </h3>


